html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}
#streetview {
	background-color: chartreuse;
	height: 100%;
	width: 60%;
	float: left;
}

#input-area {
	height: 100%;
	width: 40%;
	float: right;
}

#map {
    height: 100%;
    position: relative;
    cursor: default;
}

.neighborhood.hover {
    fill: blue;
}